/* HomeMaincomponent */

.banner {
    min-height: 862px;
    height: auto;
    width: 100%;
    top: -2px;
    left: 1px;
    background-image: linear-gradient(to bottom, rgba(5, 11, 20, 0.28), rgba(1, 13, 32, 0.69), rgba(10, 11, 26, 73.26)), url('../images/banner.png');
    /* background-attachment: fixed; */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.banner-heading {
    color: #FFFFFF;
    font-family: "Libre Baskerville";
    text-transform: capitalize;
    font-size: 80px;
    font-weight: 700;
    line-height: 97px;
    position: relative;
    top: 246px;
    width: 383px;
    height: 96px;
    justify-content: left;
    vertical-align: center;
    text-align: left;
}

.banner-content {
    font-family: "Nunito";
    font-size: 24px;
    line-height: 32px;
    justify-content: Left;
    vertical-align: Top;
    color: #FFFFFF;
    opacity: 60%;
    font-weight: 400;
    position: relative;
    width: 611px;
    height: 64px;
    top: 246px;
    text-align: start;
}

/* Home Counter */

.circle {
    max-width: 208px;
    max-height: 208px;
    opacity: 80%;
}

.counter-container {
    top: 387px;
}

.counter-text {
    color: grey;
    margin-top: 6px;
    font-size: 16px;
    font-weight: 400;
    line-height: 32px;
    font-family: "nunito";
}

.percent-value {
    color: #FFFFFF;
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
    font-family: "Libre Baskerville";
}

/* upcoming shows */

.upcoming-show-heading {
    color: #FFFFFF;
    margin-top: 124px;
    margin-bottom: 12px;
    height: 40px;
    font-family: "Libre Baskerville";
    font-weight: 400;
    line-height: 40px;
    font-size: 32px;
    position: relative;
    text-align: left;
}

.upcoming-show-heading:before {
    position: absolute;
    top: 1.45em;
    width: 40px;
    content: '';
    border-top: 3px solid #0259EB;
    border-radius: 16px;
}

.upcoming-show-all-button {
    margin-top: 124px !important;
    color: #E5C558;
    background: transparent;
    border-width: 2px;
    border-style: solid;
    border-color: transparent;
    position: relative;
    margin: 1em;
    display: inline-block;
    padding: 0.5em 1em;
    transition: all 0.3s ease-in-out;
    text-align: center;
    font-family: "Nunito";
    font-weight: 400;
    font-size: 16px;
    float: right;
}

.upcoming-show-all-button:before, .upcoming-show-all-button:after {
    content: "";
    display: block;
    position: absolute;
    border-color: transparent;
    box-sizing: border-box;
    border-style: solid;
    width: 1em;
    height: 1em;
    transition: all 0.3s ease-in-out;
}

.upcoming-show-all-button:before {
    top: -6px;
    left: -6px;
    border-width: 2px 0 0 2px;
    z-index: 5;
}

.upcoming-show-all-button:after {
    bottom: -6px;
    right: -6px;
    border-width: 0 2px 2px 0;
}

.upcoming-show-all-button:hover:before, .upcoming-show-all-button:hover:after {
    width: calc(100% + 12px);
    height: calc(100% + 12px);
    border-color: #fff;
}

.upcoming-show-all-button:hover {
    color: #E5C558;
    background-color: #fff;
    border-color: #fff;
}

.borderless-button.upcoming-show-all-button {
    border-color: transparent;
    color: #E5C558;
}

.borderless-button.upcoming-show-all-button:hover {
    border-color: #E5C558;
    background-color: transparent;
    color: #E5C558;
}

.borderless-button.upcoming-show-all-button:before, .borderless-.upcoming-show-all-button:after {
    border-color: transparent;
}

.borderless-button.upcoming-show-all-button:hover:before, .borderless-button.upcoming-show-all-button:hover:after {
    width: calc(100% + 5px);
    height: calc(100% + 12px);
    border-color: transparent;
}

.show-cards {
    padding: 0px;
    margin: 8px;
    max-width: 268px;
    height: 387px;
    background-color: #111229;
    border-radius: 8px;
    color: #FFFFFF;
    box-shadow: 10px -10px 1px -1px rgba(48, 26, 104, 53%), 10px -10px 1px -1px rgba(35, 76, 151, 80%);
}

.show-card-img {
    max-height: 230px;
    min-height: 230px;
}

.show-badge {
    font-family: "Nunito";
    max-width: fit-content;
    font-size: 12px;
    position: relative;
    left: 16px;
    top: 25px;
    text-align: center;
    border-radius: 1px;
}

.show-card-name {
    font-family: "Libre Baskerville";
    font-size: 20px;
    line-height: 32px;
    font-weight: 700;
    text-align: left;
    height: 32px;
    top: 35px;
    left: 16px;
    position: relative;
}

.show-info-button {
    margin-top: 0px !important;
    margin: 0px !important;
    padding: 0px;
    position: relative;
    height: 32px;
    font-family: "nunito";
    font-size: 16px;
    line-height: 32px;
    top: 30px;
    float: left;
    text-decoration: none;
    text-align: left;
    color: #0259EB !important;
}

.show-info-button:hover {
    color: #0259EB;
    background-color: #fff;
    border-color: #fff;
}

.show-info-button.upcoming-show-all-button {
    border-color: transparent;
    color: #0259EB;
}

.show-info-button.upcoming-show-all-button:hover {
    border-color: #0259EB;
    background-color: transparent;
    color: #0259EB;
}

.ticket-icon {
    position: relative;
    float: right;
    top: 30px;
    text-align: end;
    max-width: fit-content;
    border-left: 1px solid;
    border-color: rgba(255, 255, 255, 0.2);
    ;
}

/* Reviews */

.avatar {
    vertical-align: middle;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    top: 44px;
    left: 24px;
    position: relative;
}

.review-cards {
    padding: 0px;
    margin: 20px;
    border: 0.2rem solid #E5C558;
    background-color: #0A0B1A;
    border-radius: 16px;
    color: #FFFFFF;
    box-shadow: 10px -10px 1px -1px rgba(39, 108, 115, 53%), 10px -10px 1px -1px rgba(82, 147, 232, 80%);
}

.review-name {
    position: relative;
    left: 0%;
    top: 0%;
    color: #FFFFFF;
    font-family: "Quattrocento";
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 32px;
    align-items: center;
}

.review-location {
    height: 16px;
    left: 32px;
    top: 4px;
    font-family: "Rubik";
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 16px;
    text-transform: uppercase;
    color: #E5C558;
}

.review-content {
    font-family: "nunito";
    font-size: 16px;
    text-align: left;
    vertical-align: top;
    opacity: 90%;
    line-height: 24px;
    font-weight: 400;
}

/* review pagination */

.pagination-box {
    color: #FFFFFF;
    margin-top: 127px;
    margin-bottom: 12px;
    font-family: "nunito";
    font-weight: 400;
    line-height: 40px;
    font-size: 17px;
    position: relative;
    text-align: left;
}

.pagination {
    display: flex;
    justify-content: flex-end;
    list-style: none;
    cursor: pointer;
    color: #FFFFFF;
}

.pagination a {
    padding: 5px;
    color: grey !important;
}

.pagination li {
    color: #FFFFFF;
    display: none;
}

.pagination__link {
    font-weight: bold;
    color: #FFFFFF;
}

.show-page-count {
    font-size: "nunito";
    font-size: 16px;
    font-weight: 700;
    position: relative;
    float: right;
    top: -53px;
    right: 74px;
}

.rami {
    display: block !important;
}

.pagination__link--active a {
    color: #000;
    background: #000;
}

.pagination__link--disabled a {
    color: rgb(198, 197, 202);
}

@media (max-width: 776px) {
    /* Homecounter */
    .circle {
        padding: 0;
        margin: 0;
    }
    .counter-container {
        top: 454px;
    }
    /* HomemainComponent */
    .banner-heading {
        color: #FFFFFF;
        font-family: "Libre Baskerville";
        text-transform: capitalize;
        font-size: 66px;
        font-weight: 700;
        line-height: 46px;
        position: relative;
        top: 246px;
        height: 96px;
        left: 0;
        width: auto;
        justify-content: Left;
        text-align: start;
    }
    .banner-content {
        font-family: "Nunito";
        font-size: 22px;
        line-height: 32px;
        justify-content: Left;
        vertical-align: Top;
        color: #FFFFFF;
        opacity: 60%;
        font-weight: 400;
        position: relative;
        left: 0;
        width: auto;
        height: 64px;
        top: 200px;
        text-align: start;
    }
    /* Upcoming shows */
    .upcoming-showheading {
        color: #FFFFFF;
        margin-top: 124px;
        margin-bottom: 0px;
        height: 40px;
        font-family: "Libre Baskerville";
        font-weight: 400;
        line-height: 40px;
        font-size: 32px;
        text-align: left;
    }
    .upcoming-show-all-button {
        margin-top: 20px !important;
        color: #E5C558;
        background: transparent;
        border-width: 2px;
        border-style: solid;
        border-color: transparent;
        position: relative;
        margin: 1em;
        display: inline-block;
        padding: 0.5em 1em;
        transition: all 0.3s ease-in-out;
        text-align: center;
        font-family: "Nunito";
        font-weight: 400;
        font-size: 16px;
        float: none;
    }
    .show-info-button {
        margin-top: 0px !important;
        margin: 0px !important;
        padding: 0px;
        position: relative;
        height: 32px;
        font-family: "nunito";
        font-size: 16px;
        line-height: 32px;
        top: 30px;
        float: left;
        text-decoration: none;
        text-align: left;
        color: #0259EB !important;
    }
    .ticket-icon {
        position: relative;
        float: right;
        text-align: end;
        max-width: fit-content;
        border-left: 1px solid;
    }
    .review-cards {
        padding: 0px;
        /* margin: 0px; */
        margin-top: 20px;
        min-width: 280px;
        border: 0.2rem solid #E5C558;
        background-color: #111229;
        border-radius: 16px;
        color: #FFFFFF;
        box-shadow: 10px -10px 1px -1px rgba(39, 108, 115, 53%), 10px -10px 1px -1px rgba(82, 147, 232, 80%);
    }
    /* review pagination */
    .pagination-box {
        color: #FFFFFF;
        margin-top: -52px;
        margin-bottom: 12px;
        font-family: "nunito";
        font-weight: 400;
        line-height: 40px;
        font-size: 17px;
        position: relative;
        text-align: left;
    }
    .pagination {
        display: flex;
        justify-content: flex-end;
        list-style: none;
        cursor: pointer;
        color: #FFFFFF;
    }
}

@media only screen and (min-width: 578px) and (max-width: 768px) {
    /* review pagination */
    .pagination-box {
        color: #FFFFFF;
        margin-top: 110px;
        margin-bottom: 12px;
        font-family: "nunito";
        font-weight: 400;
        line-height: 40px;
        font-size: 17px;
        position: relative;
        text-align: left;
    }
    .pagination {
        display: flex;
        justify-content: flex-end;
        list-style: none;
        cursor: pointer;
        color: #FFFFFF;
    }
}